@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

html, body, #root {
    min-height: 100%;
}

body {
    background: #000 url('./assets/background.jpg');
    background-size: cover;
    -webkit-font-smoothing: antialiased !important;
}

body, input, button {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}